DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.onrender.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com
YOLO_MODEL_PATH=./runs/detect/pothole_model/weights/best.pt
YOLO_TARGET_LABELS=pothole,potholes
VIDEO_FRAME_STRIDE=5
POTHOLE_CAMERA_FOCAL_LENGTH_PX=1100
POTHOLE_REFERENCE_WIDTH_M=0.75
POTHOLE_DISTANCE_MIN_M=1.5
POTHOLE_DISTANCE_MAX_M=25.0
