DJANGO_SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.onrender.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com
YOLO_MODEL_PATH=./runs/detect/pothole_model/weights/best.pt
YOLO_TARGET_LABELS=pothole,potholes
VIDEO_FRAME_STRIDE=5
